.container {
  background: white;
  max-width: 770px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 7px;
}

body {
  background: lightpink;
}

.today-emoji {
  width: 22%;
  padding-right: 5px;
}

small {
  text-align: center;
  display: block;
  margin: auto 0;
  font-weight: 200;
  font-size: 13px;
  margin-top: 20px;
}

.weather {
  border: 1px solid #dadde1;
  border-radius: 7px;
  max-width: 800px;
  margin: 5px auto;
  padding: 20px;
}

form {
  padding-bottom: 15px;
  text-align: center;
}

h1 {
  color: #878787;
  font-size: 30px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
}

li {
  list-style: none;
  color: #878787;
  font-size: 20px;
  font-weight: 100;
  line-height: 19px;
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

.today-info {
  margin-bottom: 20px;
}

.today-temp {
  color: rgb(33, 33, 33);
  font-size: 55px;
  line-height: 1;
  font-weight: 400;
}

.units {
  font-size: 16px;
  position: relative;
  top: -30px;
}

.today-conditions {
  text-transform: capitalize;
}

.now-date {
  text-align: end;
  margin-top: 2px;
}

.celsius,
.fahrenheit {
  text-decoration: none;
  color: black;
}

.celsius:active {
  text-decoration: none;
  color: lightpink;
}

.fahrenheit:active {
  text-decoration: none;
  color: lightpink;
}

.location {
  margin-left: 2px;
}

.submitButton {
  margin-left: 5px;
  margin-right: 10px;
}

.search-input {
  margin-left: 10px;
}

.notActive {
  color: #085ed6;
}

.card-title {
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
  color: #878787;
  font-weight: 200;
  line-height: 28px;
}

.weekday-emoji {
  width: 50%;
  padding: 5px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.card-body {
  text-align: center;
  margin: 0 auto;
}

.card-text {
  color: #878787;
  font-weight: 200;
  line-height: 28px;
  font-size: 15px;
  margin-bottom: 5px;
}

.forecast {
  color: #878787;
  font-weight: 300;
  line-height: 28px;
  font-size: 15px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.card-group {
  margin-top: 20px;
}

.forecast-max {
  font-weight: 400;
}
