.container {
  background: white;
  max-width: 1000px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 15px;
}

body {
  background: lightpink;
}

.today-emoji {
  width: 15%;
}

form {
  padding-bottom: 20px;
}
